@using BlazingQuartz.Core.Models
@page "/schedules"

<PageTitle>Schedules</PageTitle>

<MudContainer Class="mt-2 px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4">Schedules</MudText>
    <MudGrid>
        <MudItem xs="6" Class="mb-2 d-flex gap-3 justify-start align-end">
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Filled.Add"
                       OnClick="OnNewSchedule">New</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error"
                       StartIcon="@Icons.Filled.Delete"
                       OnClick="OnNewSchedule">Delete</MudButton>
        </MudItem>
        <MudItem xs="6" Class="mb-2 d-flex justify-end align-center">
            <MudTextField @bind-Value="SearchJobKeyword" Placeholder="Search" Adornment="Adornment.Start"
                          Class="flex-grow-0"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"></MudTextField>
        </MudItem>
    </MudGrid>
    <MudDataGrid 
        MultiSelection="true" Items="@ScheduledJobs" Filterable="false"
        ShowColumnOptions="false" SortMode="SortMode.None"
        Hideable="true" Groupable="true" GroupExpanded="true">
        <Columns>
            <SelectColumn T="ScheduleModel" ShowInFooter="false" />
            <Column T="ScheduleModel" Field="JobGroup" Title="Job Group"
                Grouping="true" Hidden="true" ShowColumnOptions="false" GroupBy="@_groupDefinition">
                <GroupTemplate>
                    <span style="font-weight:bold">@context.Grouping.Key 
                    <MudChip Size="Size.Small" Variant="Variant.Outlined">Total: @context.Grouping.Count()</MudChip>
                    </span>
                </GroupTemplate>
            </Column>
            <Column T="ScheduleModel" Title="Status" Filterable="false" Groupable="false" 
                Sortable="false"
                ShowColumnOptions="false"
                HeaderStyle="text-align: center;width: 40px;"
                CellStyle="text-align: center;">
                <CellTemplate>
                    @switch (context.Item.JobStatus)
                    {
                        case JobStatus.Running:
                            <MudProgressCircular Color="Color.Primary" Size="Size.Small"
                                                Style="vertical-align: middle;"
                                                title="Running"
                                                Indeterminate="true" />
                            break;
                        case JobStatus.Idle:
                            <MudIcon Icon="@Icons.Filled.Circle" Class="green-text"
                                    Style="vertical-align: middle;"
                                    Title="Idle"
                                    Size="Size.Medium" />
                            break;
                        case JobStatus.Paused:
                            <MudIcon Icon="@Icons.Filled.Circle" Class="grey-text"
                                    Style="vertical-align: middle;"
                                    Title="Paused"
                                    Size="Size.Medium" />
                            break;
                        default:
                            break;
                    }
                </CellTemplate>
            </Column>
            <Column T="ScheduleModel" Field="JobName" Title="Job Name" ShowColumnOptions="false">
                <CellTemplate>
                    <MudTooltip Duration="1000" Text="@context.Item.JobDescription">
                        @context.Item.JobName
                    </MudTooltip>
                </CellTemplate>
            </Column>
            <Column T="ScheduleModel" Field="TriggerName" Title="Trigger" ShowColumnOptions="false">
                <CellTemplate>
                    <MudTooltip Duration="1000" Text="@context.Item.TriggerDescription">
                        @context.Item.TriggerName
                    </MudTooltip>
                </CellTemplate>
            </Column>
            <Column T="ScheduleModel" Field="TriggerType" Title="Schedule">
                <CellTemplate>
                    <div class="d-flex align-center">
                        <MudIcon Icon="@context.Item.TriggerType.GetTriggerTypeIcon()"
                                Title="@(context.Item.TriggerType.ToString())" Size="Size.Small"
                                Class="mr-1" />
                        @(context.Item.TriggerType == TriggerType.Unknown ? context.Item.TriggerTypeClassName : context.Item.TriggerType)
                    </div>
                </CellTemplate>
            </Column>
            <Column T="ScheduleModel" Field="JobType" Title="Job Type" />
            <Column T="ScheduleModel" Title="Next Run" Groupable="false" Filterable="false" ShowColumnOptions="false">
                <CellTemplate>
                    @context.Item.NextTriggerTime?.LocalDateTime
                </CellTemplate>
            </Column>
            <Column T="ScheduleModel" Title="Last Run" Groupable="false" Filterable="false" ShowColumnOptions="false">
                <CellTemplate>
                    @context.Item.PreviousTriggerTime?.LocalDateTime
                </CellTemplate>
            </Column>
            <Column T="ScheduleModel" Title="Actions" Groupable="false" Filterable="false" ShowColumnOptions="false"
                HeaderStyle="width: 180px;"
                Sortable="false">
                <CellTemplate>
                    <MudTooltip Duration="1000" Text="Edit">
                        <MudIconButton Icon="@Icons.Filled.Edit" Size="Size.Small" aria-label="Edit"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Duration="1000" Text="Run">
                        <MudIconButton Icon="@Icons.Filled.PlayArrow" Size="Size.Small" aria-label="Run"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Duration="1000" Text="Clone">
                        <MudIconButton Icon="@Icons.Filled.ContentCopy" Size="Size.Small" aria-label="Clone"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Duration="1000" Text="Delete">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" aria-label="Delete"></MudIconButton>
                    </MudTooltip>
                </CellTemplate>
            </Column>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="ScheduleModel" />
        </PagerContent>
    </MudDataGrid>

    @*<MudTable Hover="true" Breakpoint="Breakpoint.Sm" Height="500px" FixedHeader="true"
              Items="@ScheduledJobs"
              GroupBy="@_groupDefinition"
              GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
              GroupFooterClass="mb-4"
              MultiSelection="true"
              Dense="true">
        <ColGroup>
            <col style="width: 30px;" />
            <col style="width: 30px;" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col style="width: 180px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh Style="text-align: center;">Status</MudTh>
            <MudTh>Job Name</MudTh>
            <MudTh>Trigger</MudTh>
            <MudTh>Schedule</MudTh>
            <MudTh>Job Type</MudTh>
            <MudTh>Next Run</MudTh>
            <MudTh>Last Run</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <GroupHeaderTemplate>
            <MudTh Class="mud-table-cell-custom-group" colspan="8">@context.Key</MudTh>
        </GroupHeaderTemplate>
        <RowTemplate>
            <MudTd DataLabel="Status" Style="text-align: center;">
                @switch (context.JobStatus)
                {
                    case JobStatus.Running:
                        <MudProgressCircular Color="Color.Primary" Size="Size.Small"
                                             Style="vertical-align: middle;"
                                             Indeterminate="true" />
                        break;
                    case JobStatus.Idle:
                        <MudIcon Icon="@Icons.Filled.Circle" Class="green-text"
                                 Style="vertical-align: middle;"
                                 Size="Size.Medium" />
                        break;
                    case JobStatus.Paused:
                        <MudIcon Icon="@Icons.Filled.Circle" Class="grey-text"
                                 Style="vertical-align: middle;"
                                 Size="Size.Medium" />
                        break;
                    default:
                        break;
                }
            </MudTd>
            <MudTd DataLabel="Job Name">
                <MudTooltip Duration="1000" Text="@context.JobDescription">
                    @context.JobName
                </MudTooltip>
            </MudTd>
            <MudTd DataLabel="Trigger">
                <MudTooltip Duration="1000" Text="@context.TriggerDescription">
                    @context.TriggerName
                </MudTooltip>
            </MudTd>
            <MudTd DataLabel="Schedule">
                <div class="d-flex align-center">
                    <MudIcon Icon="@context.TriggerType.GetTriggerTypeIcon()"
                             Title="@(context.TriggerType.ToString())" Size="Size.Small"
                             Class="mr-1" />
                    @(context.TriggerType == TriggerType.Unknown ? context.TriggerTypeClassName : context.TriggerType)
                </div>
            </MudTd>
            <MudTd DataLabel="Job Type">@context.JobType</MudTd>
            <MudTd DataLabel="Next Run">@context.NextTriggerTime?.LocalDateTime</MudTd>
            <MudTd DataLabel="Last Run">@context.PreviousTriggerTime?.LocalDateTime</MudTd>
            <MudTd>
                <MudTooltip Duration="1000" Text="Edit">
                    <MudIconButton Icon="@Icons.Filled.Edit" Size="Size.Small" aria-label="Edit"></MudIconButton>
                </MudTooltip>
                <MudTooltip Duration="1000" Text="Run">
                    <MudIconButton Icon="@Icons.Filled.PlayArrow" Size="Size.Small" aria-label="Run"></MudIconButton>
                </MudTooltip>
                <MudTooltip Duration="1000" Text="Clone">
                    <MudIconButton Icon="@Icons.Filled.ContentCopy" Size="Size.Small" aria-label="Clone"></MudIconButton>
                </MudTooltip>
                <MudTooltip Duration="1000" Text="Delete">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" aria-label="Delete"></MudIconButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <GroupFooterTemplate>
        </GroupFooterTemplate>
    </MudTable>*@
</MudContainer>
